<%- include('partials/header') -%>

<main class="container">
  <div class="container">
      <div class="text-center py-3 mb-4">
        <h1>VolunteerConnect</h1>
        <em>Volunteers connecting with Organizations: Organizations connecting with Volunteers</em>
      </div>
  </div>
<!-- Bootstrap Carousel -->
  <div id="myCarousel" class="carousel slide mb-6 py-3 mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img
          src="/imgs/volunteer1.png"
          class="d-block w-100"
          alt="volunteers"
          style="height: 500px; object-fit: cover;"
        />
      </div>
      <div class="carousel-item active">
        <img
          src="/imgs/volunteer2.png"
          class="d-block w-100"
          alt="volunteers"
          style="height: 500px; object-fit: cover;"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/imgs/volunteer3.png"
          class="d-block w-100"
          alt="volunteers"
          style="height: 500px; object-fit: cover;"
        />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container py-3 mb-4 border-bottom">
    <p><strong>About VolunteerConnect</strong></br>
      Our platform is designed to connect volunteers with organizations in need, making it easier than ever to find meaningful ways to give back to the community. Whether you’re an organization looking for passionate volunteers or an individual seeking rewarding opportunities, we bring everyone together in one convenient place.
      
    </br></br>
      As an organization, you can post your events and volunteer opportunities, complete with detailed descriptions, locations, and dates. Highlight what your event is about, the roles you’re looking to fill, and the impact volunteers can make. Once your listing is live, potential volunteers can easily find and sign up for your opportunities, streamlining the process of building your team of helpers.
      
    </br></br>
      For individuals eager to make a difference, our platform offers a user-friendly way to discover volunteer opportunities that fit your interests, skills, and schedule. After signing up, browse through available events and find causes that resonate with you. With just a few clicks, you can join an event and take the first step toward making a positive impact.
      
      Together, we aim to foster a stronger sense of community and make it simpler for everyone to contribute to causes they care about.</p>
  
  </div>
    <!-- listings -->
  <h3>Current Listings</h3>
  <div class="container text-center">
    <div class="d-flex overflow-auto">
      <% for(let i=0; i<listing.length; i++) {%>
        <div class="flex-shrink-0 col-3 mx-2">
          <li 
            class="justify-content-between mt-5 border rounded border-dark-subtle p-3" 
            style="list-style-type: none; background-color: #f9f9f9;">
            <% if(user) { %>
              <a href="/listing/<%= listing[i]._id%>">
            <% } else { %>
              <a href="/login">
            <% } %>
              <h3><%= listing[i].title%></h3>
            </a>
            <img class="img-fluid" src="<%= listing[i].image%>">
            <p><strong>Organziation: </strong><%= listing[i].user%></p>
            <p><strong>Description: </strong><%= listing[i].description%></p>
            <p><strong>Location: </strong><%= listing[i].location%></p>
            <p><strong>Date: </strong><%= listing[i].date%></p>
          </li>
        </div>
      <% } %>
    </div>
  </div>

</main>
    

<%- include('partials/footer') -%>


