<%- include('partials/header') -%>

<main class="container">
  <div class="container">
      <div class="text-center">
        <h1>Volunteer Database</h1>
        <span>find an opportunity near you</span>
      </div>
  </div>
<!-- Bootstrap Carousel -->
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img
          src="/imgs/volunteer1.png"
          class="d-block w-100"
          alt="volunteers"
          style="height: 500px; object-fit: cover;"
        />
      </div>
      <div class="carousel-item active">
        <img
          src="/imgs/volunteer2.png"
          class="d-block w-100"
          alt="volunteers"
          style="height: 500px; object-fit: cover;"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/imgs/volunteer3.png"
          class="d-block w-100"
          alt="volunteers"
          style="height: 500px; object-fit: cover;"
        />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p>I'm baby lomo fit deep v, twee DIY fingerstache craft beer letterpress bitters cloud bread four loko kickstarter. Twee brunch four dollar toast locavore tumblr ennui. Blue bottle mukbang celiac, vice ascot adaptogen hella +1 food truck hammock blog small batch solarpunk XOXO tacos. Post-ironic hot chicken mumblecore everyday carry.</p>
  <!-- listings -->
  <h3>Current Listings</h3>
  <ul class="row list-unstyled">
    <% for(let i=0; i<listing.length; i++) {%>
      <li class="col-6 justify-content-between mt-5">
        <% if(user) { %>
          <a href="/listing/<%= listing[i]._id%>">
        <% } else { %>
          <a href="/login">
        <% } %>
          <h3><%= listing[i].title%></h3>
        </a>
        <img class="img-fluid" src="<%= listing[i].image%>">
        <p><%= listing[i].user%></p>
        <p><%= listing[i].description%></p>
        <p><%= listing[i].location%></p>
        <p><%= listing[i].date%></p>
      </li>
    <% } %>
    </ul>
</main>
    

<%- include('partials/footer') -%>


