<%- include('partials/header') -%>
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <h2><%= listing.title %></h2>
        <div class="row justify-content-between">
          <h3 class="col-3">Sign-ups </h3>
          <%if(!user && user.organization !== listing.user){ %>
          <form 
            action="<%= listing.id %>/signUpListing" 
            method="GET" 
            class="col-3">
            <button class="btn btn-primary">Sign-Up</button>
          </form>
          <% } %>
          
          <%if(user && user.organization === listing.user){ %>
          <form
            action="/listing/deleteListing/<%= listing.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-primary" type="submit">Delete</button>
          </form>
          <%}%>
        </div>
      </div>
      <div id="listing-information" class="col-3 mt-5">
        <img class="img-fluid" src="<%= listing.image%>">
        <p id="listing-user"><%= listing.user %></p>
        <p id="listing-description" style="display: block;"><%= listing.description %></p>
        <form>
          <textarea type="text" name="description" placeholder="<%= listing.description %>" style="display: none;"></textarea>
        </form>
        <p id="listing-location" style="display: block;"><%= listing.location %></p>
        <form>
          <textarea type="text" name="location" placeholder="<%= listing.location %>" style="display: none;"></textarea>
        </form>
        <p id="listing-date" style="display: block;"><%= listing.date %></p>
        <form>
          <textarea type="text" name="date" placeholder="<%= listing.date %>" style="display: none;"></textarea>
        </form>
      </div>
      <%if(user && user.organization === listing.user){ %>
        <form>
          <button type="submit" class="btn btn-primary">Edit Information</button>
        </form>
      <% } %>
      <%if(user){ %>
      <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/organization">Back</a>
      </div>
      <% } else { %>
      <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/profile">Back</a>
      </div>
      <% } %>
    </div>
  </div>
<%- include('partials/footer') -%>