<%- include('partials/header') -%>
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <h2><%= listing.title %></h2>
        <div class="row justify-content-between">
          <h3 class="col-3">Sign-ups </h3>
          <p>This is where we will see a list of current volunteers</p>
          <%if(user && user.organization === listing.user){ %>
            <p>This will be what the organization that listed the event will see</p>
            
          <div id="listing-information" class="col-3 mt-5">
            <form id="update-listing-form" action="/listing/updateListing/<%= listing.id %>" method="POST">
              <button type="button" class="btn btn-primary" id="listing-edit" style="display: block;">Edit Information</button>
              <button type="submit" class="btn btn-primary" id="save-edit" style="display: none;">Save</button>
              <button type="button" class="btn btn-primary" id="exit-edit" style="display: none;">Exit Edit</button>
              
              <div class="volunteer-container">
                <img class="img-fluid" src="<%= listing.image%>">
                <div id="volunteer-organization">
                  <h4>Organization: </h4>
                  <p id="listing-user"><%= listing.user %></p>
                </div>
                <div id="volunteer-description">
                  <h4>Description: </h4>
                  <p id="listing-description" style="display: block;" name="description" value="<%= listing.description %>"><%= listing.description %></p>
                </div>
                <div id="volunteer-location">
                  <h4>Location: </h4>
                  <p id="listing-location" style="display: block;" name="location" value="<%= listing.location %>"><%= listing.location %></p>
                </div>
                <div id="volunteer-date">
                  <h4>Date: </h4>
                  <p id="listing-date" style="display: block;" name="date" value="<%= listing.date %>"><%= listing.date %></p>
                </div>
              </div>
            </form>
          </div>

          <form
            action="/listing/deleteListing/<%= listing.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-primary" type="submit">Delete</button>
          </form>
          <div class="col-6 mt-5">
            <a class="btn btn-primary" href="/organization">Back</a>
          </div>
          <% } else { %>
            <p>This is what everyone else will see</p>
          <form 
            action="/listing/signUpListing/<%= listing.id %>" 
            method="GET" 
            class="col-3">
            <button class="btn btn-primary">Sign-Up</button>
          </form>
          <div class="col-3 mt-5">
            <div class="volunteer-container">
              <img class="img-fluid" src="<%= listing.image%>">
              <div id="volunteer-organization">
                <h4>Organization: </h4>
                <p><%= listing.user %></p>
              </div>
              <div id="volunteer-description">
                <h4>Description: </h4>
                <p><%= listing.description %></p>
              </div>
              <div id="volunteer-location">
                <h4>Location: </h4>
                <p><%= listing.location %></p>
              </div>
              <div id="volunteer-date">
                <h4>Date: </h4>
                <p><%= listing.date %></p>
              </div>
            </div>
          </div>
          <div class="col-6 mt-5">
            <a class="btn btn-primary" href="/profile">Back</a>
          </div>
          <% } %>
          
          
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%>