<%- include('partials/header') -%>
<% const time = new Date().getHours() %>
<% let timeGreeting; %>
<% if(time < 12){ %>
    <% timeGreeting = "Good Morning, "; %>
<% } else if(time < 18){ %>
  <% timeGreeting = "Good Afternoon, "; %>
<% } else { %> 
  <% timeGreeting = "Good Evening, "; %>
<% } %>
<div class="container">
  <div class="row mt-5">
      <div>
          <h3><strong><%= timeGreeting %></strong> <%= user.organization %>!</h3>
          <p>This is your home base for finding volunteers for your upcoming events. <strong>Let's Connect!</strong></p>
      </div>
      <div class="row  container py-3 mb-4 border-bottom">
        <!-- about me section -->
        <div class="col-md-6">
          <section id="about-me-section" class="section">
            <% if(user.about){ %>
              <h3>Tell me about your organization, <strong><%= user.organization %></strong></h3>
              <p class="current-content"><%= user.about %></p>
              <button type="button" class="btn btn-primary edit-button">edit</button>

              <!-- toggle edit form -->
              <form class="edit-form" id="edit-form" action="/update-about-org"" method="POST" style="display: none;">
                <textarea type="text" name="about" class="about-me-input" placeholder="<%= user.about %>"value="<%= user.about %>"></textarea>
                <button type="submit" class="btn btn-primary">submit</button>
                <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
              </form>

              <% } else { %>
                <form class="edit-form" id="edit-form" action="/update-about-org" method="POST">
                  <textarea type="text" name="about" placeholder="Write about your organization" class="about-me-input"></textarea>
                  <button type="submit" class="btn btn-primary">submit</button>
                </form>
              <% }%>
            </section>
          </div>
          <!-- Image section -->
          <div class="col-md-6">
            <section id="image-section"class="section">
              <% if(user.image) { %>
                <img 
                  class="current-content py-3 mb-4" 
                  src="<%= user.image %>" 
                  alt="image of <%= user.organization %>" 
                  style="max-width: 200px;">
                <button class="btn btn-primary d-block mt-3 edit-button">edit image</button>
                <!-- toggle to edit photo -->
                <form class="edit-form" id="edit-form" action="/update-image-org" method="POST" enctype="multipart/form-data" style="display: none;">
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Upload Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file" required>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
                  </div>
                </form>
              <% } else { %>
                <form class="edit-form" action="/update-image-org" method="POST" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Upload An Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file" required>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
                  </div>
                </form>
              <% } %>
            </section>
          </div>
        </div>
<!-- View of current listings -->
        <section id="current-listings" class="container current-listings py-3 mb-4 border-bottom container">
          <h3>Current Listings</h3>
          <div class="container text-center">
            <div class="d-flex overflow-auto">
              <% for(let i=0; i<listing.length; i++) {%>
                <% if(listing[i].user === user.organization) { %>
                  <div class="flex-shrink-0 col-3 mx-2">
                    <li 
                    class="justify-content-between mt-5 border rounded border-dark-subtle p-3" 
                    style="list-style-type: none; background-color: #f9f9f9;">
                      <a href="/listing/<%= listing[i]._id%>">
                        <h3><%= listing[i].title%></h3>
                      </a>
                      <img class="img-fluid" src="<%= listing[i].image%>">
                      <p><strong>Description: </strong><%= listing[i].description%></p>
                      <p><strong>Location: </strong><%= listing[i].location%></p>
                      <p><strong>Date: </strong><%= listing[i].date%></p>
                      <p><strong>Sign Ups: </strong><%= listing[i].volunteers.length%></p>
                    </li>
                  </div>
                <% } %>
              <% } %>
            </div>
          </div> 
        </section>

        <!-- Create Listings -->
          <section class="create-listing">
            <div class="mt-5">
              <h2>Create a New Listing</h2>
              <form action="/listing/createListing" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" id="date" name="date">
                </div>
                <div class="mb-3">
                  <label for="location" class="form-label">Location</label>
                  <input type="text" class="form-control" id="location" name="location">
                  <!-- This is where we will add an API to auto generate an address -->
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div> 
          </section>
    </div>
  </div>
</div>



<%- include('partials/footer') -%>