<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
                <h3>This is the ORGANIZATION page</h3>
              <p><strong>Welcome</strong> <%= user.organization %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <!-- about me section -->
          <section id="about-me-section" class="section">
            <div>
              <% if(user.about){ %>
                <h3>About Section</h3>
                <p class="current-content"><%= user.about %></p>
                <button type="button" class="col-3 btn btn-primary edit-button">edit about me</button>
                
                <!-- toggle edit form -->
                <form class="edit-form" id="edit-form" action="/update-about-org" method="POST" style="display: none;">
                  <textarea type="text" name="about" class="about-me-input" placeholder="<%= user.about %>"value="<%= user.about %>"></textarea>
                  <button type="submit" class="btn btn-primary">submit</button>
                  <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
                </form>
                
                <% } else { %>
                <form class="edit-form" id="edit-form" action="/update-about-org" method="POST">
                  <textarea type="text" name="about" placeholder="Write about your organization" class="about-me-input"></textarea>
                  <button type="submit" class="btn btn-primary">submit</button>
                </form>
              <% }%>
            </div>
          </section>
          <!-- Image section -->
          <section id="image-section"class="section">
            <div>
              <% if(user.image) { %>
                <h3>My Image</h3>
                <img class="current-content" src="<%= user.image %>" alt="image of <%= user.organization %>" style="max-width: 200px;">
                <button class="col-3 btn btn-primary edit-button">edit image</button>
                <!-- toggle to edit photo -->
                <form class="edit-form" id="edit-form" action="/update-image-org" method="POST" enctype="multipart/form-data" style="display: none;">
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Upload Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file" required>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
                  </div>
                </form>
              <% } else { %>
                <form class="edit-form" action="/update-image-org" method="POST" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Upload Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file" required>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
                  </div>
                </form>
              <% } %>
            </div>
          </section>

          <section class="current-listings">
            <h3>Current Listings</h3>
            <div class="col-6">
              <ul class="row list-unstyled">
              <% for(let i=0; i<listing.length; i++) {%>
                <% if(listing[i].user === user.organization) { %>
                <li class="col-6 justify-content-between mt-5">
                  <a href="/listing/<%= listing[i]._id%>">
                    <h3><%= listing[i].title%></h3>
                    
                  </a>
                  <img class="img-fluid" src="<%= listing[i].image%>">
                  <p><%= listing[i].user%></p>
                  <p><%= listing[i].description%></p>
                  <p><%= listing[i].location%></p>
                  <p><%= listing[i].date%></p>
                </li>
                <% } %>
              <% } %>
              </ul>
              <div class="row justify-content-center mt-5">
                <a class="btn btn-primary" href="/feed">Return to Feed</a>
              </div>  
            </div>
          </section>
          <section class="create-listing">
            <div class="mt-5">
              <h2>Create a New Listing</h2>
              <form action="/listing/createListing" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" id="date" name="date">
                </div>
                <div class="mb-3">
                  <label for="location" class="form-label">Location</label>
                  <input type="text" class="form-control" id="location" name="location">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div> 
          </section>
    </div>
  </div>
</div>



<%- include('partials/footer') -%>