<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div>
          <h3><strong>Welcome</strong> <%= user.firstName %>!</h3>
          <p>This is your home base for finding new and exciting Volunteer Opportunties. <strong>Let's Connect!</strong></p>
      </div>
      <div class="row  py-3 mb-4 border-bottom container">
        <!-- about me section -->
        <div class="col-md-6">
          <section id="about-me-section" class="section">
            <% if(user.about){ %>
              <h3>Tell me about yourself, <strong><%= user.firstName %></strong></h3>
              <p class="current-content"><%= user.about %></p>
              <button type="button" class="btn btn-primary edit-button">edit</button>
              
              <!-- toggle edit form -->
              <form class="edit-form" id="edit-form" action="/update-about" method="POST" style="display: none;">
                <textarea type="text" name="about" class="about-me-input" placeholder="<%= user.about %>"value="<%= user.about %>"></textarea>
                <button type="submit" class="btn btn-primary">submit</button>
                <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
              </form>
              
              <% } else { %>
              <form class="edit-form" id="edit-form" action="/update-about" method="POST">
                <textarea type="text" name="about" placeholder="Write about yourself" class="about-me-input"></textarea>
                <button type="submit" class="btn btn-primary">submit</button>
              </form>
            <% }%>
          </section>
        </div>  
        <!-- Image section -->
          <div class="col-md-6">
            <section id="image-section"class="section">
              <% if(user.image) { %>
                <img 
                  class="current-content py-3 mb-4" 
                  src="<%= user.image %>" 
                  alt="image of <%= user.firstName %>" 
                  style="max-width: 200px;">
                <button class="btn btn-primary d-block mt-3 edit-button">edit image</button>
                <!-- toggle to edit photo -->
                <form class="edit-form" id="edit-form" action="/update-image" method="POST" enctype="multipart/form-data" style="display: none;">
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Upload Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file" required>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
                  </div>
                </form>
              <% } else { %>
                <form class="edit-form" action="/update-image" method="POST" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Upload An Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file" required>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <button type="button" class="btn btn-secondary exit-edit-button">exit edit</button>
                  </div>
                </form>
              <% } %>
            </section>
          </div>
        
        
      </div>

      <section class=" container volunteer-schedule  py-3 mb-4 border-bottom">
        <h3>Current Volunteer Schedule</h3>
        <div class="container text-center">
          <div class="d-flex overflow-auto">
            <% if(listing.length > 0) { %>
              <% for(let i=0; i<listing.length; i++) {%>
                <% if(listing[i].volunteers && listing[i].volunteers.length > 0 ) { %>
                  <% for(let j=0; j<listing[i].volunteers.length; j++){ %>
                    <% if(listing[i].volunteers[j].email === user.email){ %>
                      <div class="flex-shrink-0 mx-3" style="width: 200px;">
                        <form
                          action="/listing/removeVolunteer/<%= listing[i].id %>?_method=DELETE"
                          method="POST"
                          class="justify-content-between mt-5 border rounded border-dark-subtle p-3" 
                          style="list-style-type: none; background-color: #f9f9f9;">
                      
                          <input type="hidden" name="name" value="<%= listing[i].volunteers[j].name %>">
                          <input type="hidden" name="email" value="<%= listing[i].volunteers[j].email %>">
                          <img class="img-fluid" src="<%= listing[i].image%>">
                          <a href="/listing/<%= listing[i]._id%>">
                            <h3><%= listing[i].title%></h3>
                          </a>
                          <p><%= listing[i].date %></p>
                          <button type="submit" class="btn btn-primary">Cancel</button>
                        </form>
                    </div>
                  <% } %>
                <% } %>
                
              <% } %>
            <% } %>
          <% } else { %>
            <p>No volunteer schedules available</p>
          <% } %>
            
          </div>
        </div>
      </section>

      <section class="container volunteer-openings">
        <h3>Volunteer Openings</h3>
        <div class="container text-center">
          <div class="d-flex overflow-auto">
            <% for(let i=0; i<listing.length; i++) {%>
              <div class="flex-shrink-0 col-3 mx-2">
                <li 
                  class="justify-content-between mt-5 border rounded border-dark-subtle p-3" 
                  style="list-style-type: none; background-color: #f9f9f9;">
                  <% if(user) { %>
                    <a href="/listing/<%= listing[i]._id%>">
                  <% } else { %>
                    <a href="/login">
                  <% } %>
                    <h3><%= listing[i].title%></h3>
                  </a>
                  <img class="img-fluid" src="<%= listing[i].image%>">
                  <p><strong>Organziation: </strong><%= listing[i].user%></p>
                  <p><strong>Description: </strong><%= listing[i].description%></p>
                  <p><strong>Location: </strong><%= listing[i].location%></p>
                  <p><strong>Date: </strong><%= listing[i].date%></p>
                </li>
              </div>
            <% } %>
          </div>
        </div>
      </section>
    
  </div>
</div>



<%- include('partials/footer') -%>