<%- include('partials/header') -%>
<div class="row justify-content-center">
   <section class="col-6 mt-5">
      <div class="mb-3">
         <form id="add-volunteer-to-listing" action="/listing/addVolunteer/<%= listing.id %>" method="POST">
            <h2><%= user.firstName %> you are about to sign up for <%= listing.user %>'s event!</h2>      
            <p>first name and last name: <%= user.firstName %> <%= user.lastName %></p>
            <p>Event name: <%= listing.title %></p>
            <p>Organization: <%= listing.user %></p>
            <p>event description: <%= listing.description %></p>
            <p>event date: <%= listing.date %></p>
            <p>event location: <%= listing.location %></p>
            <button type="submit" class="btn btn-primary">Sign Up!</button>
            <div class="col-6 mt-5">
               <a class="btn btn-primary" href="/listing/<%= listing.id %>">Back</a>
             </div>
         </form>
         
      </div>
   </section>
   
   
</div>
   

<%- include('partials/footer') -%>